.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
.idea/**
src/**
images/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
node_modules/*
!node_modules/@aws-crypto/
!node_modules/@aws-crypto/**
!node_modules/@aws/
!node_modules/@aws/**
!node_modules/@aws-sdk/
!node_modules/@aws-sdk/**
!node_modules/@azure/
!node_modules/@azure/**
!node_modules/@clickhouse/
!node_modules/@clickhouse/client/**
!node_modules/@clickhouse/client-common/**
!node_modules/@colors/
!node_modules/@colors/**
!node_modules/@dabh/
!node_modules/@dabh/**
!node_modules/@google-cloud/
!node_modules/@google-cloud/**
!node_modules/@isaacs/
!node_modules/@isaacs/**
!node_modules/@mapbox/
!node_modules/@mapbox/node-pre-gyp/**
!node_modules/@nodable/
!node_modules/@nodable/**
!node_modules/@opentelemetry/
!node_modules/@opentelemetry/**
!node_modules/@smithy/
!node_modules/@smithy/**
!node_modules/@so-ric/
!node_modules/@so-ric/**
!node_modules/@techteamer/
!node_modules/@techteamer/**
!node_modules/@tdengine/
!node_modules/@tdengine/**
!node_modules/@tootallnate/
!node_modules/@tootallnate/**
!node_modules/abort-controller/**
!node_modules/agent-base/**
!node_modules/ansi-regex/**
!node_modules/ansi-styles/**
!node_modules/anynum/**
!node_modules/arrify/**
!node_modules/asn1.js/**
!node_modules/asn1.js-rfc2560/**
!node_modules/asn1.js-rfc5280/**
!node_modules/async/**
!node_modules/async-mutex/**
!node_modules/async-retry/**
!node_modules/asynckit/**
!node_modules/axios/**
!node_modules/balanced-match/**
!node_modules/base64-js/**
!node_modules/big-integer/**
!node_modules/bignumber.js/**
!node_modules/binascii/**
!node_modules/bn.js/**
!node_modules/abbrev/**
!node_modules/amqplib/**
!node_modules/bowser/**
!node_modules/brace-expansion/**
!node_modules/browser-request/**
!node_modules/buffer-equal-constant-time/**
!node_modules/bufferutil/**
!node_modules/call-bind-apply-helpers/**
!node_modules/color/**
!node_modules/color-convert/**
!node_modules/color-name/**
!node_modules/color-string/**
!node_modules/combined-stream/**
!node_modules/consola/**
!node_modules/cross-spawn/**
!node_modules/d/**
!node_modules/debug/**
!node_modules/delayed-stream/**
!node_modules/detect-libc/**
!node_modules/dunder-proto/**
!node_modules/duplexify/**
!node_modules/duckdb/**
!node_modules/eastasianwidth/**
!node_modules/ecdsa-sig-formatter/**
!node_modules/emoji-regex/**
!node_modules/enabled/**
!node_modules/end-of-stream/**
!node_modules/es-define-property/**
!node_modules/es-errors/**
!node_modules/es5-ext/**
!node_modules/es6-iterator/**
!node_modules/esniff/**
!node_modules/es-object-atoms/**
!node_modules/es-set-tostringtag/**
!node_modules/event-emitter/**
!node_modules/event-target-shim/**
!node_modules/events/**
!node_modules/expand-tilde/**
!node_modules/extend/**
!node_modules/fast-xml-builder/**
!node_modules/fast-xml-parser/**
!node_modules/fastest-levenshtein/**
!node_modules/fecha/**
!node_modules/fn.name/**
!node_modules/follow-redirects/**
!node_modules/foreground-child/**
!node_modules/form-data/**
!node_modules/function-bind/**
!node_modules/gaxios/**
!node_modules/gcp-metadata/**
!node_modules/generic-pool/**
!node_modules/get-intrinsic/**
!node_modules/get-proto/**
!node_modules/glob/**
!node_modules/google-auth-library/**
!node_modules/google-logging-utils/**
!node_modules/gopd/**
!node_modules/gtoken/**
!node_modules/has-symbols/**
!node_modules/has-tostringtag/**
!node_modules/hasown/**
!node_modules/homedir-polyfill/**
!node_modules/html-entities/**
!node_modules/http-proxy-agent/**
!node_modules/https-proxy-agent/**
!node_modules/inherits/**
!node_modules/is-docker/**
!node_modules/is-fullwidth-code-point/**
!node_modules/is-stream/**
!node_modules/is-unsafe/**
!node_modules/is-wsl/**
!node_modules/isexe/**
!node_modules/jackspeak/**
!node_modules/json-bigint/**
!node_modules/jsonwebtoken/**
!node_modules/jwa/**
!node_modules/jws/**
!node_modules/kuler/**
!node_modules/lodash.includes/**
!node_modules/lodash.isboolean/**
!node_modules/lodash.isinteger/**
!node_modules/lodash.isnumber/**
!node_modules/lodash.isplainobject/**
!node_modules/lodash.isstring/**
!node_modules/lodash.once/**
!node_modules/logform/**
!node_modules/long/**
!node_modules/lru-cache/**
!node_modules/math-intrinsics/**
!node_modules/mime/**
!node_modules/mime-db/**
!node_modules/mime-types/**
!node_modules/minimalistic-assert/**
!node_modules/minimatch/**
!node_modules/minipass/**
!node_modules/nopt/**
!node_modules/mkdirp/**
!node_modules/moment/**
!node_modules/moment-timezone/**
!node_modules/ms/**
!node_modules/node-fetch/**
!node_modules/node-gyp-build/**
!node_modules/once/**
!node_modules/one-time/**
!node_modules/open/**
!node_modules/p-limit/**
!node_modules/package-json-from-dist/**
!node_modules/parse-passwd/**
!node_modules/path-expression-matcher/**
!node_modules/path-key/**
!node_modules/path-scurry/**
!node_modules/process/**
!node_modules/proxy-from-env/**
!node_modules/python-struct/**
!node_modules/readable-stream/**
!node_modules/retry/**
!node_modules/retry-request/**
!node_modules/safe-buffer/**
!node_modules/safe-stable-stringify/**
!node_modules/safer-buffer/**
!node_modules/sax/**
!node_modules/semver/**
!node_modules/shebang-command/**
!node_modules/shebang-regex/**
!node_modules/signal-exit/**
!node_modules/simple-lru-cache/**
!node_modules/snowflake-sdk/**
!node_modules/stack-trace/**
!node_modules/stream-events/**
!node_modules/stream-shift/**
!node_modules/string-width/**
!node_modules/string_decoder/**
!node_modules/strip-ansi/**
!node_modules/strnum/**
!node_modules/stubs/**
!node_modules/teeny-request/**
!node_modules/text-hex/**
!node_modules/toml/**
!node_modules/tr46/**
!node_modules/triple-beam/**
!node_modules/tslib/**
!node_modules/typedarray-to-buffer/**
!node_modules/tunnel/**
!node_modules/utf-8-validate/**
!node_modules/util-deprecate/**
!node_modules/uuid/**
!node_modules/websocket/**
!node_modules/webidl-conversions/**
!node_modules/whatwg-url/**
!node_modules/which/**
!node_modules/winston/**
!node_modules/winston-daily-rotate-file/**
!node_modules/winston-transport/**
!node_modules/wrap-ansi/**
!node_modules/wrappy/**
!node_modules/xml-naming/**
!node_modules/xml2js/**
!node_modules/xmlbuilder/**
!node_modules/yaeti/**
!node_modules/yocto-queue/**
webpack.config.js
tslint.json
.github/
public/
types/
webpack.config.lib.js
tailwind.config.js
backlog.md
i18n.js
postcss.config.js
.worktrees/**
standalone/**
docs/**
*.vsix
