.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
.idea/**
src/**
images/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
node_modules/*
!node_modules/@clickhouse/
!node_modules/@clickhouse/client/**
!node_modules/@clickhouse/client-common/**
!node_modules/@mapbox/
!node_modules/@mapbox/node-pre-gyp/**
!node_modules/abbrev/**
!node_modules/amqplib/**
!node_modules/consola/**
!node_modules/detect-libc/**
!node_modules/duckdb/**
!node_modules/nopt/**
!node_modules/semver/**
webpack.config.js
tslint.json
.github/
public/
types/
webpack.config.lib.js
tailwind.config.js
backlog.md
i18n.js
postcss.config.js
.worktrees/**
standalone/**
docs/**
*.vsix
