node_modules/
.packaged-resources/*
!.packaged-resources/node_modules/
.packaged-resources/node_modules/*
!.packaged-resources/node_modules/.gitkeep
runtime/node/*
!runtime/node/.gitkeep
dist/
app/dist/
app/src-tauri/gen/
app/src-tauri/target/
extensions/airdb/
extension-host/dist/
protocol/dist/
vscode-shim/dist/
*.log
